@import 'mixin.scss';
#text{
    color: red;
    font-size: 20px;

}
#svg{
    display: none;
}
@keyframes rotate {
    100%{
        transform: rotateZ(360deg);
    }
}

#rotate{
    @include equalWH(20,false);
    background-color: forestgreen;
    animation: rotate 1s linear infinite;
}