#text {
  color: red;
  font-size: 20px;
}

#svg {
  display: none;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

#rotate {
  width: 40px;
  height: 40px;
  background-color: forestgreen;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}
