<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gulp+webpack</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src='/common/jquery-3.2.1.min.js'></script>
    <script>
        $.ajax({
            url: '/svg/svg.svg',
            dataType:'text',
            success:(d) => {
                $('#svg').html(d);
            }
        })
    </script>
</head>

<body>
    <div id="svg"></div>
    <svg id="rotate"><use xlink:href="#icon-plus"></use></svg>
    <div id="text"></div>
    <img src="/img/MM1map.jpg" alt="">
    <script src='/js/index.js'></script>
</body>

</html>